{% extends "dashboard/create_event.html" %}

{% block title %} Find people who are interested in your event - Ercess Live {% endblock title %}

{% block RSVP %}


<section class="content">
    <div class="container arrow-steps clearfix">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-dark mb-30">RSVPs</h1>
                <div class="alert alert-info text-center mb-80">
                    <h4>YOU HAVE NO UPCOMING EVENTS!</h4>
                    <a href="/live/dashboard/add-event" class="btn btn-default mt-20">
                      <i class="fa fa-plus mr-10"></i> Create new
                    </a>
                </div>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#upcoming">Upcoming</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#past">Past</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="upcoming" class="tab-pane active">
                        <div class="table-responsive">
                            {% now "Y-m-d" as todays_date %}
                            <table class="table table-hover table-event-list">
                                <tr>
                                  <th>Event</th>
                                  <th>Starts on</th>
                                  <th>Happening in</th>
                                  <th>Total RSVP</th>
                                </tr>
                              {% for i in entries1 %}
                              
                                {% if todays_date < i.sdate|date:"Y-m-d" %}
                                <tr>  
                                    <td>
                                      <div class="pull-left event-img">
                                        <a href="/live/dashboard/rsvp/100">
                                          <img src="/static/images/avatar5.png">
                                        </a>
                                      </div>
                                      <div class="pull-left ml-10 pt-10">
                                        <a href="/live/dashboard/rsvp/100">{{ i.event_name }}</a>
                                      </div>
                                    </td>
                                    <td>24 Oct 2018, 01:00 PM</td>
                                    <td>Bangalore</td>
                                    <td>5</td>
                                </tr>  
                                    {% elif todays_date < i.edate|date:"Y-m-d" %}
                                <tr>  
                                    <td>
                                      <div class="pull-left event-img">
                                        <a href="/live/dashboard/rsvp/100">
                                          <img src="/static/images/avatar5.png">
                                        </a>
                                      </div>
                                      <div class="pull-left ml-10 pt-10">
                                        <a href="/live/dashboard/rsvp/100">{{ i.event_name }}</a>
                                      </div>
                                    </td>
                                    <td>24 Oct 2018, 01:00 PM</td>
                                    <td>Bangalore</td>
                                    <td>5</td>
                                </tr> 
                                    {% endif %}
                              {% endfor %}
                            </table>
                        </div>
                    </div>
                    <div id="past" class="tab-pane">
                        <table class="table table-hover table-event-list">
                          <tr>
                            <th>Event</th>
                            <th>Started on</th>
                            <th>Happened in</th>
                            <th>Total RSVP</th>
                          </tr>
                        
                        
                        {% for i in entries1 %}
                        
                          {% if todays_date > i.sdate|date:"Y-m-d" %}
                            <tr>  
                                <td>
                                  <div class="pull-left event-img">
                                    <a href="/live/dashboard/rsvp/100">
                                      <img src="/static/images/avatar5.png">
                                    </a>
                                  </div>
                                  <div class="pull-left ml-10 pt-10">
                                    <a href="/live/dashboard/rsvp/100">{{ i.event_name }}</a>
                                  </div>
                                </td>
                                <td>24 Oct 2018, 01:00 PM</td>
                                <td>Bangalore</td>
                                <td>5</td>
                            </tr>
                              {% elif todays_date > i.edate|date:"Y-m-d" %}
                              <tr>  
                                  <td>
                                    <div class="pull-left event-img">
                                      <a href="/live/dashboard/rsvp/100">
                                        <img src="/static/images/avatar5.png"">
                                      </a>
                                    </div>
                                    <div class="pull-left ml-10 pt-10">
                                      <a href="/live/dashboard/rsvp/100">{{ i.event_name }}</a>
                                    </div>
                                  </td>
                                  <td>24 Oct 2018, 01:00 PM</td>
                                  <td>Bangalore</td>
                                  <td>5</td>
                              </tr>

                              {% endif %}
                        {% endfor %}
                        
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
   
{% endblock RSVP %}
